USE [master]
GO
/****** Object:  Database [BangRevolution]    Script Date: 08/15/2016 18:55:28 ******/
CREATE DATABASE [BangRevolution] ON  PRIMARY 
( NAME = N'BangRevolution', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BangRevolution.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BangRevolution_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BangRevolution_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BangRevolution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BangRevolution]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[ID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Time] [bigint] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Desc] [nvarchar](max) NOT NULL,
	[SkillID] [int] NOT NULL,
	[HP] [int] NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Characters] ON
INSERT [dbo].[Characters] ([ID], [Name], [Desc], [SkillID], [HP], [Img], [Price]) VALUES (1, N'SUZY LAFAYETTE', N'As soon as she has no cards in and, she draw one', 1, 4, N'1', 0)
INSERT [dbo].[Characters] ([ID], [Name], [Desc], [SkillID], [HP], [Img], [Price]) VALUES (2, N'PAUL REGRET', N'All players see him at a distance increased by 1', 2, 3, N'link', 0)
INSERT [dbo].[Characters] ([ID], [Name], [Desc], [SkillID], [HP], [Img], [Price]) VALUES (4, N'PEDRO RAMIREZ', N'He may draw his first card from the discard pile ', 3, 4, N'link', 0)
SET IDENTITY_INSERT [dbo].[Characters] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Desc] [nvarchar](50) NOT NULL,
	[Img] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([ID], [Name], [Desc], [Img]) VALUES (1, N'SCERIFFO', N'Kill all the Outlaws and the Renegade', N'1')
INSERT [dbo].[Roles] ([ID], [Name], [Desc], [Img]) VALUES (2, N'Vice', N'Protect the sceriffo, kill the outlaws, renegade', N'2')
INSERT [dbo].[Roles] ([ID], [Name], [Desc], [Img]) VALUES (3, N'Outlaws', N'kill the sceriffo', N'3')
/****** Object:  Table [dbo].[Items]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[isBg] [bit] NOT NULL,
	[Price] [float] NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Desc] [nvarchar](max) NOT NULL,
	[Img] [nvarchar](50) NOT NULL,
	[EffectID] [int] NULL,
	[Range] [int] NULL,
	[Suit] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cards] ON
INSERT [dbo].[Cards] ([ID], [Name], [Type], [Desc], [Img], [EffectID], [Range], [Suit]) VALUES (1, N'VOLCANIC', 1, N'You can play any number of BANG!', N'l', 1, 10, 4)
INSERT [dbo].[Cards] ([ID], [Name], [Type], [Desc], [Img], [EffectID], [Range], [Suit]) VALUES (2, N'VOLCANIC', 1, N'You can play any number of BANG!', N'L', 1, 10, 1)
INSERT [dbo].[Cards] ([ID], [Name], [Type], [Desc], [Img], [EffectID], [Range], [Suit]) VALUES (3, N'SCHOFIELD', 1, N'', N'L', 2, 11, 1)
SET IDENTITY_INSERT [dbo].[Cards] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[User ID] [int] NOT NULL,
	[Exp] [bigint] NOT NULL,
	[Win] [bigint] NOT NULL,
	[Lose] [bigint] NOT NULL,
	[Rate] [float] NOT NULL,
	[Money] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPurchase]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPurchase](
	[Item ID] [int] NOT NULL,
	[User ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamesHistory]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamesHistory](
	[User ID] [int] NOT NULL,
	[Game ID] [int] NOT NULL,
	[isWinner] [bit] NOT NULL,
	[Role ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterPuchase]    Script Date: 08/15/2016 18:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterPuchase](
	[Char ID] [int] NOT NULL,
	[User ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_UserData_Users]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[UserData]  WITH CHECK ADD  CONSTRAINT [FK_UserData_Users] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserData] CHECK CONSTRAINT [FK_UserData_Users]
GO
/****** Object:  ForeignKey [FK_ItemPurchase_Items]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[ItemPurchase]  WITH CHECK ADD  CONSTRAINT [FK_ItemPurchase_Items] FOREIGN KEY([Item ID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemPurchase] CHECK CONSTRAINT [FK_ItemPurchase_Items]
GO
/****** Object:  ForeignKey [FK_ItemPurchase_Users]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[ItemPurchase]  WITH CHECK ADD  CONSTRAINT [FK_ItemPurchase_Users] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ItemPurchase] CHECK CONSTRAINT [FK_ItemPurchase_Users]
GO
/****** Object:  ForeignKey [FK_GamesHistory_Games]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[GamesHistory]  WITH CHECK ADD  CONSTRAINT [FK_GamesHistory_Games] FOREIGN KEY([Game ID])
REFERENCES [dbo].[Games] ([ID])
GO
ALTER TABLE [dbo].[GamesHistory] CHECK CONSTRAINT [FK_GamesHistory_Games]
GO
/****** Object:  ForeignKey [FK_GamesHistory_Roles]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[GamesHistory]  WITH CHECK ADD  CONSTRAINT [FK_GamesHistory_Roles] FOREIGN KEY([Role ID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[GamesHistory] CHECK CONSTRAINT [FK_GamesHistory_Roles]
GO
/****** Object:  ForeignKey [FK_GamesHistory_Users]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[GamesHistory]  WITH CHECK ADD  CONSTRAINT [FK_GamesHistory_Users] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[GamesHistory] CHECK CONSTRAINT [FK_GamesHistory_Users]
GO
/****** Object:  ForeignKey [FK_CharaterPuchase_Characters]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[CharacterPuchase]  WITH CHECK ADD  CONSTRAINT [FK_CharaterPuchase_Characters] FOREIGN KEY([Char ID])
REFERENCES [dbo].[Characters] ([ID])
GO
ALTER TABLE [dbo].[CharacterPuchase] CHECK CONSTRAINT [FK_CharaterPuchase_Characters]
GO
/****** Object:  ForeignKey [FK_CharaterPuchase_Users]    Script Date: 08/15/2016 18:55:29 ******/
ALTER TABLE [dbo].[CharacterPuchase]  WITH CHECK ADD  CONSTRAINT [FK_CharaterPuchase_Users] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[CharacterPuchase] CHECK CONSTRAINT [FK_CharaterPuchase_Users]
GO
