<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
     <appSettings>
    <add key="connectionString" value="Server=185.7.80.50;Database=BangRevolution;uid=sa;pwd=123a@123" />
  </appSettings>
</configuration>